.App {
  text-align: center;
  margin: auto;
  padding: 0%;
}
@media only screen and (min-width: 736px) {
  .bg-image {
    background: url("./image/background.png") center no-repeat;
    background-size: cover;
    height: 130vh;
  }
}

@media only screen and (max-width: 736px) {
  .bg-image {
    text-align: center;
    background: url("./image/background.png") center no-repeat;
    background-size: cover;
    height: 100vh;
  }
}
