@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.content {
  text-align: left;
  color: white;
  padding-left: 35px;
  font-family: "Lobster", cursive, Arial, sans-serif;
}
.name {
  padding-top: 4%;
  font-size: 40px;
}
